/* HEADER */

header{
  background-color: rgb(44, 62, 80);
  height: 100px;
  text-transform: uppercase;
  color: white;
}

.start-b h3{
  font-size: 25px;
}

.menu-big ul li{
  display: inline-block;
  margin: 0 10px;
}

.menu-h{
  font-size: 18px;
  height: 30px;
  width: 35px;
  border: 1px solid white;
}

/* jumbotron */
#jumbotron{
  background-color: rgb(26, 188, 156);
  text-transform: uppercase;
}

.box-img{
  height: 200px;
  width: 200px;
}

/* sezione portfolio */
.portfolio{
  text-transform: uppercase;
  color: black;
}

.port-card img{
  border-radius: 10px;
  margin-bottom: 10px;
}

/* sezione about */
.about{
  background-color: rgb(26, 188, 156);
}

.cg-container{
  width: 70%;
 margin: 0 auto;
}

/* sezione contatti */

.contatti{
  color: rgb(36, 54, 73);
}

.form-control{
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
}

.form-control::placeholder{
  color:rgb(36, 54, 73)
}

/* FOOTER */
.copyright{
  justify-content: center;
  align-items: center;
}

.copy{
  width: 20%;
}


/* MEDIA */

/* media mobile */
@media screen and (max-width:768px){
  .start-b h3{
    font-size: 20px;
  }
}